@import 'colors';
@import 'firasans';
@import 'onboarding';

* {
  font-family: "Fira Sans";
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}
p {
  font-size: 1.3em;
}
.size-normal {
  font-size: 1.3rem;
}
.dyslexi-viewer {
  display: flex !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1000;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  overflow-y: scroll;
}

.dyslexi-balance {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.dyslexi-balance-top {
  color: white;
  border-color: white;
  align-items: flex-end;
  display: flex;
  min-height: 38.181818181vh; // Golden ratio
  h1 {
    margin-bottom: 1.25rem;
  }
}
.dyslexi-balance-bottom {
  color: #222;
  .container {
    margin-top: 2.5rem;
  }
}