@import 'bootstrap';
@import 'colors';
@import 'firasans';
@import 'onboarding';
@import 'user_adjustments';
@import 'fonts';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
.size-normal {
  font-size: 1.3rem;
}
.inserted-content {
  opacity: 1;
}
.sidebar-container {
  z-index: calc(2147483638 - 1);
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: white;
  font-family: 'Fira Sans';
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 25em;
  & > * {
    font-family: 'Fira Sans';
  }
}
.sidebar-floating {
  z-index: calc(2147483638 - 2);
  padding: 2em;
  justify-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
  font-family: 'Fira Sans';
  & > * {
    font-family: 'Fira Sans';
  }
  .btn-float {
    background: white;
    margin-bottom: 1em;
    padding: 1em;
    width: 4em;
    display: flex;
    height: 4em;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 99px;
    cursor: pointer;
    i {
      font-size: 2em;
    }
    &:hover {
      background: #eee;
    }
  }
}
.new-one {
  opacity: 1;
}
.sidebar {
  overflow-y: scroll;
}
.sidebar-content {
  padding: 0 2rem 2rem 2rem;
  margin-top: 1px;
}
.input-component {
  margin: 3em 0;
}
.full-screen-view {
  background: white;
  width: 100%;
  min-height: 100vh;
}
.balance {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans';
  flex-direction: column;
}
.alpha-slider-container {
  position: relative;
  cursor: pointer;
  height: 15px;
  margin-top: 0.5em;
}
.balance-top {
  color: white;
  border-color: white;
  align-items: flex-end;
  display: flex;
  min-height: 38.181818181vh; // Golden ratio
  h1 {
    margin-bottom: 1.25rem;
  }
}
.switch {
  margin: 0 0 0 1em;
}
.help-icon {
  font-size: 1.3em;
  color: #777;
  border-radius: 100px;
  line-height: 0;
  padding-bottom: 0;
  padding: 0;
  margin: 0.2em;
  line-height: 1;
  &:hover {
    color: #000;
    cursor: pointer;
  }
}
.balance-bottom {
  color: #222;
  margin-bottom: 10em;
  > * {
    margin-top: 2.5rem;
  }
}
.dyslexi-page {
  z-index: calc(2147483638 - 3);
  background: white !important;
}
.dyslexi-page-inner {
  max-width: 60em;
  margin: auto;
  margin-top: 4em;
  padding: 2em 6em;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
.draggable {
  /* just to size it to content */
  display: inline-block;
  /* opaque background is important for performance */
  /* avoid selecting text while dragging */
  user-select: none;
  pointer-events: none;
  z-index: calc(2147483638 - 4);
}
.sep {
  opacity: 0.3;
}
.part {
  pointer-events: none;
}
.word {
  &:hover {
    background-color: rgba(117, 183, 243, 0.07);
  }
  cursor: pointer;
  margin-left: 0.1em;
  margin-right: 0.1em;
  white-space: nowrap;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.definition-inner {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid #e4e4e4;
  padding: 2em;
  max-width: 500px;
  z-index: 2147483636;
  border-radius: 10px;
  max-height: 400px;
  pointer-events: none;
  background: white;
  text-overflow: ellipsis;
  overflow: hidden;
}
.definition-iframe {
  width: 40em;
  height: 100em;
  &-container {
    margin-left: -60px;
    margin-top: -260px;
    transform: scale(0.9);
  }
}
