@import "colors";
@import "firasans";
@import "onboarding";
@import "user_adjustments";
@import "fonts";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
.size-normal {
  font-size: 1.3rem;
}
.dyslexi-inserted-content-inner {
  position: fixed;
  top: 0;
  right: 0;
  display: flex !important;
  height: 100%;
  z-index: 1000;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  overflow-y: scroll;
  font-family: "Fira Sans";
}
.dyslexi-sidebar-container {
  z-index: 99999;
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  background-color: white;
  font-family: "Fira Sans";
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 25em;
  & > * {
    font-family: "Fira Sans";
  }
}
.dyslexi-sidebar {
  overflow-y: scroll;
}
.sidebar-content {
  padding: 0 3rem 3rem 3rem;
}
.input-component {
  margin: 3em 0;
}
.full-screen-view {
  background: white;
  width: 100%;
}
.dyslexi-balance {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.dyslexi-balance-top {
  color: white;
  border-color: white;
  align-items: flex-end;
  display: flex;
  min-height: 38.181818181vh; // Golden ratio
  h1 {
    margin-bottom: 1.25rem;
  }
}
.dyslexi-balance-bottom {
  color: #222;
  .container {
    margin-top: 2.5rem;
  }
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
