@font-face {
  font-family: "Open Dyslexic";
  src: url("chrome-extension://__MSG_@@extension_id__/static/fonts/OpenDyslexic3-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.open-dyslexic {
  font-family: "Open Dyslexic", sans-serif;
}
.times-new-roman {
  font-family: "Times New Roman", Cambria, Cochin, Georgia, Times, serif;
}
.arial {
  font-family: "Arial", Helvetica, sans-serif;
}
.verdana {
  font-family: "Verdana", "Segoe UI", Tahoma, Geneva, sans-serif;
}
