.dyslexi-app-page {
  display: block !important;
  background-color: #fff;
  font-family: "Arial";
  width: 600px;
  margin: auto;
}

.btn-primary {
  display: block;
  width: 10em;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 2em;
  border-radius: 100px;
  background: transparent;
  border-width: 2px;
  color: #333;
  border-color: #333;
}
.btn-primary-large {
  width: 15em;
}

.letter-input {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  .form-control {
    width: 3em;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
  }
  .btn {
    font-size: 1.3rem;
  }
  .mdi {
    font-size: 2rem;
    margin: 10px;
  }
}

.font-choose {
  p {
    padding: 2em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  margin-bottom: 4em;
}
