.text_bunched {
  line-height: 2.5;
}
.text_small {
  font-size: 1.3em;
}
.lines_skip {
  line-height: 2.5;
}
.highlighted {
  background-color: rgba(255, 193, 7, 0.21);
  letter-spacing: 3px;
  transition: all 0.1s;
}
.highlighted:hover {
  background-color: rgba(255, 193, 7, 0.4);
}
.text-token {
  opacity: 1;
}
.text-token-hidden {
  display: none;
}
.dyslexi-render {
  fill: purple;
}
.color-tint {
  position: fixed;
  z-index: calc(2147483638 - 4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  pointer-events: none;
  mix-blend-mode: multiply;
}
