.text_bunched {
  line-height: 2.5;
}
.text_small {
  font-size: 1.3em;
}
.lines_skip {
  line-height: 2.5;
}
.word:hover {
  background-color: rgba(255, 193, 7, 0.4);
}
.word {
  cursor: pointer;
}
.highlighted {
  background-color: rgba(255, 193, 7, 0.21);
  letter-spacing: 3px;
  transition: all 0.1s;
}
.highlighted:hover {
  background-color: rgba(255, 193, 7, 0.4);
}
